.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
}

.navbar, .navbar .container, .navbar .container-fluid, .navbar .container-lg, .navbar .container-md, .navbar .container-sm, .navbar .container-xl, .navbar .layout-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.navbar {
    position: relative;
    padding: 0.5rem 1rem;
}
.navbar-main .navbar-container {
    padding: 1rem;
    max-width: 1500px;
}
.navbar .container{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.container, .layout-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.navbar-main .navbar-container .branding {
    zoom: 85%;
    margin-right: 0;
    margin: auto;
}

.utility-container .utility-menu .nav-item{
    display: block;
    margin: auto;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
a {
    color: #00205b;
    text-decoration: none;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
}

@media (min-width: 1200px) {
    .navbar-main .navbar-container {
        max-width: 1500px;
    }
}

@media (max-width: 768px) {
    .navbar-container .utility-container {
        display: block !important;
    }
}
@media (max-width: 768px) {
    .navbar-container .utility-container .utility-menu{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.navbar-main .navbar-container .utility-container {
    display: -ms-flexbox;
    display: inline-flex;
}

.navbar-main .navbar-container .utility-menu {
    -ms-flex-align: center;
    align-items: center;
}

@media (min-width: 1200px) {
    .navbar-main ul.utility-menu li a.nav-link {
        font-size: 1.1875rem !important;
    }
}


@media (min-width: 992px) {
    .navbar-main ul.utility-menu li a.nav-link {
        font-size: 1rem !important;
        padding: .5rem .69rem;
    }
}

.navbar-main ul.utility-menu li a.nav-link {
    font-size: 1.375rem;
    line-height: 32px;
    display: block;
    white-space: nowrap;
    text-decoration: none;
    color: #4a4a4a;
}

.navbar-main .navbar-container .branding .medicare-logo img, .navbar-main .navbar-container .branding img {
    max-width: none;
}
img {
    vertical-align: middle;
    border: 0;
}

@media (min-width: 576px) {
    .cta-button-hero {
        display: inline-block;
    }
}

.cta-button-hero {
    vertical-align: middle;
    background-color: #fff;
    color: #00205b;
    white-space: nowrap;
    text-decoration: none;
    text-transform: capitalize;
    border: 2px solid #00205b;
    font-weight: 700;
    letter-spacing: .5px;
    padding: 20px 30px;
    border-radius: 32px;
    line-height: 15px;
    transition: all .6s ease;
}